@mixin flex($hov:space-between,$ver:center) {
  display: flex;
  justify-content: $hov;
  align-items: $ver;
}

@mixin bgImg($w:0,$h:0,$img:'',$size:contain) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($img) no-repeat center;
  background-size: $size;
}

@mixin position($pos:absolute, $left:0,$top:0,$w:100%,$h:100%) {
  position: $pos;
  left:$left;
  top:$top;
  width: $w;
  height: $h;
}

@mixin positionImg($pos:absolute, $right:0,$top:0,$w:100%,$h:100%,$img:'') {
  position: $pos;
  right:$right;
  top:$top;
  width: $w;
  height: $h;
  background: url($img) no-repeat center;
  background-size: contain;
}